<nav class="navbar navbar-dark bg-dark text-center" *ngIf="userService.logged()">
    <div class="logo">
        <i class="bi bi-lamp mr-auto">EasyGO</i>
    </div>
    <div class="dropdown">
        <img src="assets/img/pic.png" *ngIf="userService.logged()"
            class="btn btn-dark dropdown-toggle d-flexx justify-content-right" data-toggle="dropdown"
            style="width: 55px;">
        <ul class="dropdown-menu" *ngIf="userService.logged()">
            <li><a (click)="profile()">Edit Profile</a></li>
            <li *ngIf="userService.getUserRole!='Admin'&& userService.logged()"><a (click)="course()">Your Courses</a>
            </li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
    <h4>{{userService.logged() ? userService.getUser:''}}</h4>
</nav> 