.banner {
    background-image: url('../../assets/img/table.jpg');
    height: 735px;
    background-position: center top;
    background-size: cover;
}

.table,
th,
td {
    border: 1px solid black;  
    padding: 2px;
    

    
}
table{
    opacity:70%;
}

th {
    height: 40px;
}

i {
    font-size: 20px;
    // color: red;
}
td{
    color: black;
    font-weight: 700;
}