<div class="banner">
  <div class="content">
    <br>
    <!-- <div class="table-responsive"> -->
    <div table="table table-dark">
    <table class="table table-striped table-dark text-center">
      <thead class="thead-light text-center">
        <tr>
          <th class="col-sm-1 w-50 p-3">Domain</th>
          <th class="col-sm-1 w-50 p-3">Course ID</th>
          <th class="col-sm-1">Link1</th>
          <th class="col-sm-1">Link2</th>
          <th class="col-sm-1">Link3</th>
          <th class="col-sm-1">Video1</th>
          <th class="col-sm-1">Video2</th>
          <th class="col-sm-1">Video3</th>
          <th class="col-sm-1">Cost</th>
          <th class="col-sm-1">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let mat of materialService.materials">
        <td>{{mat.domain}}</td>
        <td>{{mat.courseId}}</td>
        <td>{{mat.link1}}</td>
        <td>{{mat.link2}}</td>
        <td>{{mat.link3}}</td>
        <td>{{mat.video1}}</td>
        <td>{{mat.video2}}</td>
        <td>{{mat.video3}}</td>
        <td>{{mat.cost}}</td>
        <td>
          <!-- <button class="btn btn-info"  >Edit</button> -->

          <i class="bi bi-pencil-fill" [routerLink]="['/material',mat._id]" ></i>&nbsp;
          <i class="bi bi-trash-fill" (click)="onDelete(mat._id)"></i>
          <!-- <button class="btn btn-danger mx-3"  (click)="onDelete(mat._id)">Remove</button> -->
        </td>
      </tr>
    </table> 
    <button class="btn btn-primary" [routerLink]="['/material']">Add</button>
  
    <!-- <button class="btn btn-primary" [routerLink]="['/chat']">Chat</button> -->
  
  </div>
</div>
</div>