.content {
    width: 400px;
    height: 300px;
    margin-left: 530px;
    margin-top: 170px;
    border: 2px solid black;
    background-color: cadetblue
}

input {
    width: 33%;
}

.login {
    float: left;
}

.register {
    margin-left: 190px
}

h2 {
    margin-left: 150px;
}

label {
    font-size: 22px;
    color: indigo;

}

.banner {
    background-image: url('../../assets/img/login.jpg');
    height: 750px;
    width: 100%;
    background-position: center;
    background-size: fit;
    padding: 10px;
}