<div class="banner">
    <div class="content">
        <h2>Login</h2>
        <form #loginForm="ngForm" class="container">
            <div class="col-6">
                <label class="form-label">Name</label>
                <input type="text" [(ngModel)]="username" name="username" placeholder="UserName"
                    class="form-control form-control-lg">
            </div>
            <div class="col-6">
                <label class="form-label">Password</label>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password"
                    class="form-control form-control-lg">
            </div>
            <div class="buttons">
            <button class="btn btn-primary mr-5" value="Login" (click)="onSubmit(loginForm)">Login</button>
            <button routerLink="/register" class="btn btn-primary">Register</button>
            </div>
        </form>



    </div>

</div>
<!-- <p >{{loginForm.value|json}}</p> -->