<div class="banner">
    <div class="content">
        <h2>Login</h2>
        <form #loginForm="ngForm" class="container">
            <label><strong>Name</strong></label>
            <input type="text" [(ngModel)]="username" name="username" placeholder="UserName"
            class="form-control form-control-lg">
            <label><strong>Password</strong></label>
            <input type="password" [(ngModel)]="password" name="password" placeholder="Password"
                class="form-control form-control-lg"><br>
            <div class="buttons">
                <button class="btn btn-primary mr-5 login" value="Login" (click)="onSubmit(loginForm)">Login</button>
                <button routerLink="/register" class="btn btn-primary register">Register</button>
            </div>
        </form>
    </div>
</div>
