.banner{
    background-image: url('../../assets/img/material.jpg');
    height: 650px;
    background-position: center top;
    background-size: cover;
}
.content{
    // float: right;
    margin-left: 990px;
}
.container{
    margin-top: 10px;
    margin-left: -95px;
    // background-color:blue($color: #000000);
    background-image: linear-gradient(to bottom right,blue, yellow);
    border: 1px solid blue;
    border-radius: 10px;
}
label{
    font-size: larger;
    font-weight: 700;
}
input{
    border-radius: 5px;
}
.error{
    color: red;
}
.error {
    color: red;
}