
<h2>Chat Window</h2>
<div id="chat-space">
    <div id="chat-window">
        <div id="output"></div>
            <!-- <p *ngFor="let msg of chatService.chats">
                    {{msg.hostname}}:
                    {{msg.message[0]}}<br>
                    {{msg.hostname}}:
                    {{msg.message[1]}}<br>
                    {{msg.hostname}}:
                    {{msg.message[2]}}<br>
                {{msg.message.length}}
            </p> -->
            
            <h4 *ngFor="let group of chatService.chats,index as i">
                <!-- {{group.hostname}}: -->
                <h4 *ngFor="let l of group.message,index as j">
                <p *ngIf="this.userService.username==group.hostname else elsecase">
                    {{group.hostname}}:
                    {{group.message[j]}}
                    <button [ngStyle]="{'width':'150px','border-radius': '8px'}">reply</button>
                    <!-- <button [ngStyle]="{'width':'150px','border-radius': '8px'}"(click)="onDelete(group._id)">delete</button> -->
                    <!-- group.message[j] -->
                </p>
                <ng-template #elsecase>
                  <div [ngStyle]="{'margin-left': '420px'}">
                    {{group.hostname}}:
                    {{group.message[j]}}
                    <button [ngStyle]="{'width':'150px','border-radius': '8px'}">reply</button>
                    <!-- <button [ngStyle]="{'width':'150px','border-radius': '8px'}">delete</button> -->
                    </div>
                </ng-template>
                </h4>
            </h4>
        <div id="feedback"></div>
    </div>
</div>
<form #chatForm="ngForm">
    <input type="text" id="hostname" [(ngModel)]="hostname" name="hostname" value="hostname"readonly><br>
    <input type="text" id="message" [(ngModel)]="message" name="message"><br>
    <input type="button" value="Send" (click)="onSubmit(chatForm)">  
</form>