<table border="1">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Link1</th>
        <th>Link2</th>
        <th>Link3</th>
        <th>Video1</th>
        <th>Video2</th>
        <th>Video3</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tr *ngFor="let mat of showMaterial">
      <td>{{mat.Domain}}</td>
      <td>{{mat.link1}}</td>
      <td>{{mat.link2}}</td>
      <td>{{mat.link3}}</td>
      <td>{{mat.video1}}</td>
      <td>{{mat.video2}}</td>
      <td>{{mat.video3}}</td>
      <td>{{mat.cost}}</td>
    </tr>
  </table> 
  <button class="btn btn-primary" [routerLink]="['/chat']">Chat</button>