<div class="table">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr  *ngIf="showMaterial">
        <th class="col-sm-3">Domain</th>
        <td>{{showMaterial.domain}}</td>
      </tr>
      <tr>
        <th class="col-sm-3">Link1</th>
        <td><a href="{{showMaterial.link1}}" target="_blank">Chapter1</a></td>
      </tr>
      <tr>
        <th class="col-sm-3">Link2</th>
        <td><a href="{{showMaterial.link2}}" target="_blank">Chapter2</a></td>
      </tr>
      <tr>
        <th class="col-sm-3">Link3</th>
        <td><a href="{{showMaterial.link3}}" target="_blank">Chapter3</a></td>
      </tr>
      <tr>
        <th class="col-sm-3">Video1</th>
        <td><a href="{{showMaterial.video1}}" target="_blank">Video1</a></td>
      </tr>
      <tr>
        <th class="col-sm-3">Video2</th>
        <td><a href="{{showMaterial.video2}}" target="_blank">Video2</a></td>
      </tr>
      <tr>
        <th class="col-sm-3">Video3</th>
        <td><a href="{{showMaterial.video3}}" target="_blank">Video3</a></td>

      </tr>
    </thead>
  </table>
</div>
<br />
<div class="text-center">
  <button class="btn btn-dark" [routerLink]="['/course']">Back</button>
</div>