.card-img-top {
  transition: 0.3s;
  width: 340px;
  height: 200px;
  border-radius: 5px;
}
.card-img-top:hover {
  transform: scale(1.1);
}
.text-block {
  position: absolute;
  bottom: 10px;
  left: 70px;
  font-size: large;
  font-weight: 400;
  color: black;
  position: absolute;

}

.card {
  margin: 2rem auto;
  position: relative;
  border: none;

}
a {
  font-weight: 800;
  font-size: larger;
  text-decoration: none;
  color: black;
}

div.polaroid {
  width: 340px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 20px;
}