<div class="page">
    <div class="col-1">
        <h3>Angular</h3>
        <a  [routerLink]="['/edit/Angular/100']">
            <img src="assets/img/angular-Img.png" alt="angular Img">
        </a>
    </div>
    <div class="col-1">
        <h3>React</h3>
        <a  [routerLink]="['/edit/React/200']">
        <img src="assets/img/react-Img.jpg" alt="react Img">
        </a>
    </div>
    <div class="col-1">
        <h3>MongoDB</h3>
        <img src="assets/img/mongoDb-Img.jpeg" alt="MongoDb Img">
    </div>
    <div class="col-1">
        <h3>Express</h3>
        <a  [routerLink]="['/edit/Express/300']">
        <img src="assets/img/express-Img.png" alt="Express Img">
        </a>
    </div>
    <div class="col-1">
        <h3>NodeJS</h3>
        <img src="assets/img/nodeJs-Img.jpeg" alt="NodeJS Img">
    </div>
    <div class="col-1">
        <h3>JQuery</h3>
        <img src="assets/img/jquery-Img.jpeg" alt="JQuery Img">
    </div>
</div>
